# <u>PRIME NUMBERS</u>

In [ ]:
num=int(input("Enter a number:"))
if(num<=1):
    print(f"{num} is not a prime number.")
elif(num==2):
    print(f"2 is a prime number.")
elif(num%2==0):
    print(f"{num} is not a prime number.")
else:
    print(f"{num} is a prime number.")

# <u>PRODUCT OF RANDOM NUMBERS</u>

In [24]:
import random as rd
a=rd.randint(1,50) #generates a random integer number between the range 1 to 50
b=rd.randint(1,50)
print(f"What should be the product of {a} and {b}?")
ans=int(input("Product : ")) #asking user to input the product of two nos.
print(f"Answer: {ans}")
if(ans==(a*b)):
    print(f"Well Done!You are absolutely right.The answer was {a*b}.")
else:
    print(f"Oops!You are wrong.The answer was {a*b}.")

What should be the product of 18 and 34?
Answer: 612
Well Done!You are absolutely right.The answer was 612

# <u>SQUARES OF EVEN & ODD NUMBERS(100-200)</u>

In [ ]:
import numpy as np
import pandas as pd
even=[]#empty list for even nos
odd=[]#empty list for odd nos
sq_even=[]#empty list for square of even nos
sq_odd=[]#empty list for square of odd nos
for i in range(100,202):
    if(i%2==0):
        even.append(i)#add even nos to the even list
        sq_even.append(i**2)#adds square of even nos to the sq_even list
    else:
        odd.append(i)#add odd nos to the even list
        sq_odd.append(i**2)#adds square of odds nos to the sq_odd list

pd.DataFrame({
    "Even_no":even,
    "SquaresEven":sq_even,
    "Odd_no":odd,
    "OddSquares":sq_odd
})#prints all the nos and their square in a tabular format

#here we have considered an odd no(201) just to equal the length of both even and odd number list

    Even_no  SquaresEven  Odd_no  OddSquares
0       100        10000     101       10201
1       102        10404     103       10609
2       104        10816     105       11025
3       106        11236     107       11449
4       108        11664     109       11881
5       110        12100     111       12321
6       112        12544     113       12769
7       114        12996     115       13225
8       116        13456     117       13689
9       118        13924     119       14161
10      120        14400     121       14641
11      122        14884     123       15129
12      124        15376     125       15625
13      126        15876     127       16129
14      128        16384     129       16641
15      130        16900     131       17161
16      132        17424     133       17689
17      134        17956     135       18225
18      136        18496     137       18769
19      138        19044     139       19321
20      140        19600     141       19881
21      142        20164     143       20449
22      144        20736     145       21025
23      146        21316     147       21609
24      148        21904     149       22201
25      150        22500     151       22801
26      152        23104     153       23409
27      154        23716     155       24025
28      156        24336     157       24649
29      158        24964     159       25281
30      160        25600     161       25921
31      162        26244     163       26569
32      164        26896     165       27225
33      166        27556     167       27889
34      168        28224     169       28561
35      170        28900     171       29241
36      172        29584     173       29929
37      174        30276     175       30625
38      176        30976     177       31329
39      178        31684     179       32041
40      180        32400     181       32761
41      182        33124     183       33489
42      184        33856     185       34225
43      186        34596     187       34969
44      188        35344     189       35721
45      190        36100     191       36481
46      192        36864     193       37249
47      194        37636     195       38025
48      196        38416     197       38809
49      198        39204     199       39601
50      200        40000     201       40401

# <u>WORD COUNTER</u>

In [26]:
from collections import Counter
text="This is a sample text. This text will be used to demonstrate the word counter."
str=text.split()#creates a list of all word present in the text
str
count=Counter(str)#counts the occurence of each word in the list
count

Counter({'This': 2,
         'is': 1,
         'a': 1,
         'sample': 1,
         'text.': 1,
         'text': 1,
         'will': 1,
         'be': 1,
         'used': 1,
         'to': 1,
         'demonstrate': 1,
         'the': 1,
         'word': 1,
         'counter.': 1})

# <u>PALINDROME</u>

In [3]:
#function to check palindrome
def is_palindrome(str):
    char_list=list(str)#creates a list of characters in the string
    ch=char_list.reverse()#reverses the list
    rev_str="".join(char_list)#converts the reversed list into a string
    print(f"Reversed String: {rev_str}")
    #check if the input string  is same as the reversed string
    if(str==rev_str):
        print(f"'{str}' is a palindrome")
    else:
        print(f"'{str}' is not a palindrome")

string=input("Enter a string: ")
print(f"Input: {string}")
is_palindrome(string)

Input: racecar
Reversed String: racecar
'racecar' is a palindrome